# Basic exceptions
build/
*.user
*.suo
*.sdf
*.opensdf
*.sln
*.vcxproj*
*.vc.db
*.VC.db

# Specific to CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.cmake
cmake-tools.vsix
toolchain.cmake

# Code coverage and profiling
*.gcno
*.gcda
*.gcov
*.profraw
*.profdata
coverage.info
coverage.txt
coverage_report/
lcov.info

# IDE $ editors
.vscode/
.idea/
*.code-workspace
*.swp
*~
*.orig

# Sustem files
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
*.tmp
*.temp 54.
# Artefacts
*.o
*.a
*.so
*.dylib
*.dll
*.exe
